*{
    margin:0;
    pading:0;
}
header div{
    margin-left: 20px;
    display:inline;
}
header div a{
    margin-left: 20px;
    margin-right:20px;
    text-decoration: none;
    color:black;
}
header div a:hover{
    font-size: 20px;
    color:red;
}
header{
    background-color:orange;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;

}
header div input{
    height:30px;
    margin-left: 20px;
    margin-right:20px;
    border:none;
    color:grey;
}
.search-form__image{
    width:14px;
    height:10px;
    border:none;
}
.search-form{
border: none;
border-left:1px solid black;
}
.serch-form__btn{
    margin-left:25px;
}
#HOME{
background-color:red;
height:500px;
width:100%;
}
#ABOUT{
background-color:red;
height:500px;
width:100%;
}
#PROJECTS{
background-color:red;
height:500px;
width:100%;
}
#TEAM{
background-color:red;
height:500px;
width:100%;
}
#NEWS{
background-color:red;
height:500px;
width:100%;
}
#CONTACTS{
background-color:red;
height:500px;
width:100%;
}
#PAGES{
background-color:red;
height:500px;
width:100%;
}
footer{
    width:100%;
    height:300px;
    background-color:slategray;
}
.footer{
    width:98%;
    height:290px;
    background-color:antiquewhite;
    margin:auto;
    border-radius:25px;
}
.raz{
    background-color:white;
    width:98%;
    pading:10px;
    margin:auto;
    height:480px;
}